<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lining.yokinjar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Test"/>
        <activity android:name=".PieChartDemo"/>
        <activity android:name=".CooLDemo"
            android:screenOrientation="portrait"/>

        <activity android:name=".UserDemo"
            android:screenOrientation="portrait"/>

        <activity android:name=".ErJi.ErJiDemo"
            android:screenOrientation="portrait"/>

        <activity android:name=".CalendarDemo"
            android:screenOrientation="portrait"/>

        <activity android:name=".Demo"
            android:screenOrientation="portrait"/>
        <!--解决Glide加载图片背景偏绿-->
        <meta-data
            android:name="com.lining.yokinjar.GlideConfiguration"
            android:value="GlideModule" />
    </application>

</manifest>